* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 2rem;
}

.details-page {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  display: flex;
  gap: 2rem;
}

.details-page img {
  width: 350px;
  border-radius: 10px;
}

.details-page div {
  line-height: 1.8;
}